<ion-view view-title="{{content.viewtitle}}">
  <ion-content>
    <img src="images/home_banner.png" class="full-image">

    <div class="row padding">
      <div class="col ta-center">
        <h3 class="positive">
          {{content.title}}
        </h3>
      </div>
    </div>

    <div class="row padding">
      <div class="col ta-justify">
        {{content.description}}
      </div>
    </div>

    <div class="bc-positive">
      <div class="row padding">
        <div class="col ta-center">
          <h3 class="light">
            <strong>
              {{content.date}}

              <br>
              <br>

              {{content.hour}}
            </strong>
          </h3>
        </div>
      </div>
    </div>

    <div class="bc-calm">
      <div class="row">
        <div class="col ta-center">
          <img src="images/home_icon.png">
        </div>
      </div>

      <div class="row">
        <div class="col ta-justify">
          {{content.about}}
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col ta-center">
        {{content.finish}}
      </div>
    </div>

    <br>
  </ion-content>
</ion-view>