<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="{{'hello_message' | translate}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendar" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Enter" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/enter">
    <ion-nav-view name="tab-enter"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sponsors" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/sponsor">
    <ion-nav-view name="tab-sponsor"></ion-nav-view>
  </ion-tab>
</ion-tabs>